In [1]:
import pandas as pd
#import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("v3_data.csv",index_col=0)
df

FileNotFoundError: [Errno 2] No such file or directory: 'v3_data.csv'

In [51]:
expensiv = pd.read_csv("/home/idris/Downloads/Telegram Desktop/csvData.csv")
expensiv

            name  pop2021 usps
0       Honolulu        0   HI
1        Oakland        0   CA
2          Miami        0   FL
3         Boston        0   MA
4  San Francisco        0   CA
5       San Jose        0   CA
6      San Diego        0   CA
7    Los Angeles        0   CA
8  New York City        0   NY

In [52]:
populated = pd.read_csv('/home/idris/Downloads/Telegram Desktop/csvData(1).csv')
populated

     rank           name usps  pop2022  pop2010  growth  density  aland_sqmi
0       1  New York City   NY  8177020  8190210 -0.0016    27222     300.381
1       2    Los Angeles   CA  3985520  3795510  0.0501     8499     468.956
2       3        Chicago   IL  2671640  2697480 -0.0096    11750     227.369
3       4        Houston   TX  2325350  2100280  0.1072     3632     640.194
4       5        Phoenix   AZ  1759940  1449040  0.2146     3400     517.673
..    ...            ...  ...      ...      ...     ...      ...         ...
195   196           Waco   TX   143286   125377  0.1428     1613      88.856
196   197     Bridgeport   CT   143280   144864 -0.0109     8919      16.064
197   198        Miramar   FL   143072   122300  0.1698     4959      28.853
198   199         Olathe   KS   142906   126269  0.1318     2318      61.642
199   200       Metairie   LA   142135   138481  0.0264     6111      23.259

[200 rows x 8 columns]

In [53]:
def get_string_from_series(ser):
  return "|".join(ser.to_list()).replace(" City","")
exp_crit=get_string_from_series(expensiv.name)

In [54]:
pop_g_1m = get_string_from_series(populated.query("pop2022>1e6").name)
pop_g_1m

'New York|Los Angeles|Chicago|Houston|Phoenix|San Antonio|Philadelphia|San Diego|Dallas|Austin|San Jose'

In [55]:
pop_g_5kk = get_string_from_series(populated.query("pop2022>5e5 & pop2022<1e6").name)
pop_g_5kk

'Fort Worth|Jacksonville|Charlotte|Columbus|Indianapolis|San Francisco|Seattle|Denver|Washington|Boston|El Paso|Nashville|Oklahoma|Las Vegas|Portland|Detroit|Memphis|Louisville|Milwaukee|Baltimore|Albuquerque|Tucson|Mesa|Fresno|Atlanta|Sacramento|Kansas'

In [56]:
pop_g_1kk = get_string_from_series(populated.query("pop2022>1e5 & pop2022<5e5").name)
pop_g_1kk

'Colorado Springs|Raleigh|Miami|Omaha|Long Beach|Virginia Beach|Oakland|Minneapolis|Tampa|Tulsa|Arlington|Aurora|Wichita|Bakersfield|New Orleans|Cleveland|Henderson|Anaheim|Honolulu|Riverside|Santa Ana|Corpus Christi|Lexington|San Juan|Stockton|St. Paul|Cincinnati|Irvine|Greensboro|Pittsburgh|Lincoln|Durham|Orlando|St. Louis|Chula Vista|Plano|Newark|Anchorage|Fort Wayne|Chandler|Reno|North Las Vegas|Scottsdale|St. Petersburg|Laredo|Gilbert|Toledo|Lubbock|Madison|Glendale|Jersey|Buffalo|Chesapeake|Winston-Salem|Fremont|Norfolk|Frisco|Paradise|Irving|Garland|Richmond|Arlington|Boise|Spokane|Hialeah|Moreno Valley|Tacoma|Port St. Lucie|McKinney|Fontana|Modesto|Fayetteville|Baton Rouge|San Bernardino|Santa Clarita|Cape Coral|Des Moines|Tempe|Huntsville|Oxnard|Spring Valley|Birmingham|Rochester|Overland Park|Grand Rapids|Yonkers|Salt Lake|Columbus|Augusta|Amarillo|Tallahassee|Ontario|Montgomery|Little Rock|Akron|Huntington Beach|Grand Prairie|Glendale|Sioux Falls|Sunrise Manor|Aurora|Vancouver|Knoxville|Peoria|Mobile|Chattanooga|Worcester|Brownsville|Fort Lauderdale|Newport News|Elk Grove|Providence|Shreveport|Salem|Pembroke Pines|Eugene|Rancho Cucamonga|Cary|Santa Rosa|Fort Collins|Oceanside|Corona|Enterprise|Garden Grove|Springfield|Clarksville|Murfreesboro|Lakewood|Bayamon|Killeen|Alexandria|Midland|Hayward|Hollywood|Salinas|Lancaster|Macon|Surprise|Kansas|Sunnyvale|Palmdale|Bellevue|Springfield|Denton|Jackson|Escondido|Pomona|Naperville|Roseville|Thornton|Round Rock|Pasadena|Joliet|Carrollton|McAllen|Paterson|Rockford|Waco|Bridgeport|Miramar|Olathe|Metairie'

In [57]:
df['is_expensive']=df.city.str.contains(exp_crit).apply(float)


df['pop_1m+']=df.city.str.contains(pop_g_1m).apply(float)
df['pop_5kk+']=df.city.str.contains(pop_g_5kk).apply(float)
df['pop_1kk+']=df.city.str.contains(pop_g_1kk).apply(float)


df['heating_count']=df.heating.str.count(",")+1
df['cooling_count']=df.cooling.str.count(",")+1
df['parking_count']=df.parking.str.count(",")+1

In [7]:
df = pd.read_csv("v4_data.csv", index_col= 0)

#df.to_csv("v4_data.csv")

In [229]:
df.head()

,status,propertyType,street,baths,homeFacts,fireplace,city,sqft,zipcode,beds,...,heating_bool,parking_bool,cooling_bool,is_expensive,pop_1m+,pop_5kk+,pop_1kk+,heating_count,cooling_count,parking_count
1,for sale,single-family home,12911 E Heroy Ave,3.0,"{""atAGlanceFacts"": [{""factValue"": ""2019"", ""fac...",0.0,Spokane Valley,1947.0,99216,3.0,...,0,0,0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2,for sale,single-family home,2005 Westridge Rd,2.0,"{""atAGlanceFacts"": [{""factValue"": ""1961"", ""fac...",1.0,Los Angeles,3000.0,90049,3.0,...,1,1,1,1.0,1.0,0.0,0.0,1.0,1.0,1.0
3,for sale,single-family home,4311 Livingston Ave,8.0,"{""atAGlanceFacts"": [{""factValue"": ""2006"", ""fac...",1.0,Dallas,6457.0,75205,5.0,...,1,1,1,0.0,1.0,0.0,0.0,1.0,1.0,1.0
12,for sale,single-family home,16373 NW 16th St,3.0,"{""atAGlanceFacts"": [{""factValue"": ""1996"", ""fac...",0.0,Pembroke Pines,2839.0,33028,4.0,...,1,1,1,0.0,0.0,0.0,1.0,1.0,1.0,2.0
18,for sale,single-family home,22702 Alderdale Ln,4.0,"{""atAGlanceFacts"": [{""factValue"": ""2016"", ""fac...",1.0,Tomball,3080.0,77375,4.0,...,1,1,1,0.0,0.0,0.0,0.0,1.0,1.0,1.0

In [230]:
df.columns

Index(['status', 'propertyType', 'street', 'baths', 'homeFacts', 'fireplace',
       'city', 'sqft', 'zipcode', 'beds', 'state', 'stories', 'target', 'pool',
       'raiting_school', 'distance_school', 'year_built', 'remodeled_year',
       'lotsize', 'heating', 'cooling', 'parking', 'heating_bool',
       'parking_bool', 'cooling_bool', 'is_expensive', 'pop_1m+', 'pop_5kk+',
       'pop_1kk+', 'heating_count', 'cooling_count', 'parking_count'],
      dtype='object')

In [231]:
df.drop(columns=["status",'propertyType','street','homeFacts','city','zipcode','heating','cooling','parking'],inplace=True)

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109598 entries, 1 to 377182
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   baths            109598 non-null  float64
 1   fireplace        109598 non-null  float64
 2   sqft             109598 non-null  float64
 3   beds             109598 non-null  float64
 4   state            109598 non-null  object
 5   stories          109598 non-null  float64
 6   target           109598 non-null  float64
 7   pool             109598 non-null  float64
 8   raiting_school   109598 non-null  float64
 9   distance_school  109598 non-null  float64
 10  year_built       109598 non-null  float64
 11  remodeled_year   109598 non-null  float64
 12  lotsize          109598 non-null  float64
 13  heating_bool     109598 non-null  int64
 14  parking_bool     109598 non-null  int64
 15  cooling_bool     109598 non-null  int64
 16  is_expensive     109598 non-null  float64
 17  pop_1m+          109598 non-null  float64
 18  pop_5kk+         109598 non-null  float64
 19  pop_1kk+         109598 non-null  float64
 20  heating_count    99374 non-null   float64
 21  cooling_count    91870 non-null   float64
 22  parking_count    85288 non-null   float64
dtypes: float64(19), int64(3), object(1)
memory usage: 20.1+ MB

In [4]:
df.state.unique()

array(['WA', 'CA', 'TX', 'FL', 'DC', 'NY', 'NV', 'OR', 'GA', 'IL', 'NJ',
       'NC', 'OH', 'TN', 'UT', 'IN', 'MI', 'VT', 'AZ', 'PA', 'MD', 'CO',
       'MO', 'IA', 'MA', 'WI', 'VA', 'OK', 'KY', 'SC', 'MT'], dtype=object)

In [8]:
from sklearn.metrics import make_scorer, mean_absolute_percentage_error

In [9]:
mape = make_scorer(mean_absolute_percentage_error,greater_is_better=False)

In [236]:
df.dropna(inplace=True)

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73233 entries, 2 to 377175
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   baths            73233 non-null  float64
 1   fireplace        73233 non-null  float64
 2   sqft             73233 non-null  float64
 3   beds             73233 non-null  float64
 4   state            73233 non-null  object
 5   stories          73233 non-null  float64
 6   target           73233 non-null  float64
 7   pool             73233 non-null  float64
 8   raiting_school   73233 non-null  float64
 9   distance_school  73233 non-null  float64
 10  year_built       73233 non-null  float64
 11  remodeled_year   73233 non-null  float64
 12  lotsize          73233 non-null  float64
 13  heating_bool     73233 non-null  int64
 14  parking_bool     73233 non-null  int64
 15  cooling_bool     73233 non-null  int64
 16  is_expensive     73233 non-null  float64
 17  pop_1m+          73233 non-null  float64
 18  pop_5kk+         73233 non-null  float64
 19  pop_1kk+         73233 non-null  float64
 20  heating_count    73233 non-null  float64
 21  cooling_count    73233 non-null  float64
 22  parking_count    73233 non-null  float64
dtypes: float64(19), int64(3), object(1)
memory usage: 13.4+ MB

In [10]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor

In [16]:
m1 = RandomForestRegressor(n_estimators=500,n_jobs=-1)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='target'),df.target, test_size=0.2, random_state=42)

In [ ]:
m1.fit(X_train,y_train)

mean_absolute_percentage_error(y_test,m1.predict(X_test))

In [72]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='target'),np.log(df.target), test_size=0.2, random_state=4)

In [73]:
m1.fit(X_train,y_train)

mean_absolute_percentage_error(np.exp(y_test),np.exp(m1.predict(X_test)))

0.31150944709379547

In [12]:
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents

In [13]:
wikiurl="https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [14]:
soup = BeautifulSoup(response.text, 'html.parser')
states=soup.find('table',{'class':"wikitable"})

In [15]:
!pip3 install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in /home/idris/.local/lib/python3.10/site-packages (4.8.0)

In [43]:
stdf=pd.read_html(str(states))
# convert list to dataframe
stdf=pd.DataFrame(stdf[0])
stdf.head()

  Rank      State or territory Census population[8][a]                \
  2021 2010 State or territory            July 1, 2021 April 1, 2010
0  1.0  1.0         California                39237836      37253956
1  2.0  2.0              Texas                29527941      25145561
2  3.0  4.0            Florida                21781128      18801310
3  4.0  3.0           New York                19835913      19378102
4  5.0  6.0       Pennsylvania                12964056      12702379

  Change,2010–2021[8][a]          House of Reps.[b]          \
                       %     Abs.                S.       %
0                   5.3%  1983880                52  11.95%
1                  17.4%  4382380                38   8.74%
2                 15.85%  2979818                28   6.44%
3                  2.36%   457811                26   5.98%
4                  2.06%   261677                17   3.91%

  Pop. per elec. vote, 2020[c] Census pop. per seat          \
  Pop. per elec. vote, 2020[c]                 2020    2010
0                       715783               761091  702905
1                       772652               767981  698488
2                       749425               770376  696345
3                       666785               777529  717707
4                       639163               765403  705688

  % of the total U.S. pop.[d]                      % of Elec. Coll.
                    Est. 2020    2010 Ch.2010–2020 % of Elec. Coll.
0                      11.80%  11.91%       –0.11%           10.04%
1                       8.70%   8.04%        0.66%            7.43%
2                       6.43%   6.01%        0.42%            5.58%
3                       6.03%   6.19%       –0.17%            5.20%
4                       3.88%   4.06%       –0.18%            3.53%

In [44]:
stdf.columns

MultiIndex([(                        'Rank',                         '2021'),
            (                        'Rank',                         '2010'),
            (          'State or territory',           'State or territory'),
            (     'Census population[8][a]',                 'July 1, 2021'),
            (     'Census population[8][a]',                'April 1, 2010'),
            (      'Change,2010–2021[8][a]',                            '%'),
            (      'Change,2010–2021[8][a]',                         'Abs.'),
            (           'House of Reps.[b]',                           'S.'),
            (           'House of Reps.[b]',                            '%'),
            ('Pop. per elec. vote, 2020[c]', 'Pop. per elec. vote, 2020[c]'),
            (        'Census pop. per seat',                         '2020'),
            (        'Census pop. per seat',                         '2010'),
            ( '% of the total U.S. pop.[d]',                    'Est. 2020'),
            ( '% of the total U.S. pop.[d]',                         '2010'),
            ( '% of the total U.S. pop.[d]',                 'Ch.2010–2020'),
            (            '% of Elec. Coll.',             '% of Elec. Coll.')],
           )

In [45]:
stdf.drop(columns=["House of Reps.[b]",'Pop. per elec. vote, 2020[c]','Census pop. per seat','% of the total U.S. pop.[d]','% of Elec. Coll.'],inplace=True)

/tmp/ipykernel_22673/1578537435.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  stdf.drop(columns=["House of Reps.[b]",'Pop. per elec. vote, 2020[c]','Census pop. per seat','% of the total U.S. pop.[d]','% of Elec. Coll.'],inplace=True)

In [46]:
stdf.columns = ['_'.join(col) for col in stdf.columns.values]

In [47]:
stdf.drop(columns=['Change,2010–2021[8][a]_Abs.'],inplace=True)

In [48]:
stdf.rename(columns = {'State or territory_State or territory' : 'state', 'Change,2010–2021[8][a]_%' : 'changes', 'Census population[8][a]_July 1, 2021' : 'population2021', 'Census population[8][a]_April 1, 2010': 'population2010'}, inplace = True)

In [49]:
def get_state_name (state):
    if ' ' in state:
        return state
    else:
        return state [0:2]
stdf['state'] = stdf['state'].apply(get_state_name)

In [50]:
#state_name=[]
#def get_state_name (state):
#    if state != '':
 #       return state[0:2]
  #  else:
   #     return 'no_state'
#stdf['state'] = stdf['state'].apply(get_state_name)

In [51]:
stdf['state'],['Rank']

(0                               Ca
 1                               Te
 2                               Fl
 3                         New York
 4                               Pe
 5                               Il
 6                               Oh
 7                               Ge
 8                   North Carolina
 9                               Mi
 10                      New Jersey
 11                              Vi
 12                              Wa
 13                              Ar
 14                              Ma
 15                              Te
 16                              In
 17                              Ma
 18                              Mi
 19                              Wi
 20                              Co
 21                              Mi
 22                  South Carolina
 23                              Al
 24                              Lo
 25                              Ke
 26                              Or
 27                              Ok
 28                              Co
 29                     Puerto Rico
 30                              Ut
 31                              Io
 32                              Ne
 33                              Ar
 34                              Mi
 35                              Ka
 36                      New Mexico
 37                              Ne
 38                              Id
 39                   West Virginia
 40                              Ha
 41                   New Hampshire
 42                              Ma
 43                    Rhode Island
 44                              Mo
 45                              De
 46                    South Dakota
 47                    North Dakota
 48                              Al
 49            District of Columbia
 50                              Ve
 51                              Wy
 52                              Gu
 53         U.S. Virgin Islands[11]
 54              American Samoa[12]
 55    Northern Mariana Islands[13]
 56        Contiguous United States
 57                   The 50 states
 58          The 50 states and D.C.
 59             Total United States
 Name: state, dtype: object,
 ['Rank'])

In [52]:
stdf['state'] = stdf['state'].str.upper()

In [53]:
stdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank_2021       56 non-null     float64
 1   Rank_2010       56 non-null     float64
 2   state           60 non-null     object
 3   population2021  60 non-null     int64
 4   population2010  60 non-null     int64
 5   changes         60 non-null     object
dtypes: float64(2), int64(2), object(2)
memory usage: 2.9+ KB

In [54]:
stdf.state.unique()

array(['CA', 'TE', 'FL', 'NEW YORK', 'PE', 'IL', 'OH', 'GE',
       'NORTH CAROLINA', 'MI', 'NEW JERSEY', 'VI', 'WA', 'AR', 'MA', 'IN',
       'WI', 'CO', 'SOUTH CAROLINA', 'AL', 'LO', 'KE', 'OR', 'OK',
       'PUERTO RICO', 'UT', 'IO', 'NE', 'KA', 'NEW MEXICO', 'ID',
       'WEST VIRGINIA', 'HA', 'NEW HAMPSHIRE', 'RHODE ISLAND', 'MO', 'DE',
       'SOUTH DAKOTA', 'NORTH DAKOTA', 'DISTRICT OF COLUMBIA', 'VE', 'WY',
       'GU', 'U.S. VIRGIN ISLANDS[11]', 'AMERICAN SAMOA[12]',
       'NORTHERN MARIANA ISLANDS[13]', 'CONTIGUOUS UNITED STATES',
       'THE 50 STATES', 'THE 50 STATES AND D.C.', 'TOTAL UNITED STATES'],
      dtype=object)

In [55]:
df.state.unique()

array(['WA', 'CA', 'TX', 'FL', 'DC', 'NY', 'NV', 'OR', 'GA', 'IL', 'NJ',
       'NC', 'OH', 'TN', 'UT', 'IN', 'MI', 'VT', 'AZ', 'PA', 'MD', 'CO',
       'MO', 'IA', 'MA', 'WI', 'VA', 'OK', 'KY', 'SC', 'MT'], dtype=object)

In [56]:
list1 = stdf.state.copy()

In [57]:
list1

0                               CA
1                               TE
2                               FL
3                         NEW YORK
4                               PE
5                               IL
6                               OH
7                               GE
8                   NORTH CAROLINA
9                               MI
10                      NEW JERSEY
11                              VI
12                              WA
13                              AR
14                              MA
15                              TE
16                              IN
17                              MA
18                              MI
19                              WI
20                              CO
21                              MI
22                  SOUTH CAROLINA
23                              AL
24                              LO
25                              KE
26                              OR
27                              OK
28                              CO
29                     PUERTO RICO
30                              UT
31                              IO
32                              NE
33                              AR
34                              MI
35                              KA
36                      NEW MEXICO
37                              NE
38                              ID
39                   WEST VIRGINIA
40                              HA
41                   NEW HAMPSHIRE
42                              MA
43                    RHODE ISLAND
44                              MO
45                              DE
46                    SOUTH DAKOTA
47                    NORTH DAKOTA
48                              AL
49            DISTRICT OF COLUMBIA
50                              VE
51                              WY
52                              GU
53         U.S. VIRGIN ISLANDS[11]
54              AMERICAN SAMOA[12]
55    NORTHERN MARIANA ISLANDS[13]
56        CONTIGUOUS UNITED STATES
57                   THE 50 STATES
58          THE 50 STATES AND D.C.
59             TOTAL UNITED STATES
Name: state, dtype: object

In [116]:
list1[1] = 'TX'
list1[3] = 'NY'
list1[4] = 'PA'
list1[7] = 'GA'
list1[8] = 'NC'
list1[7] = 'GA'
list1[10] = 'NJ'
list1[11] = 'VA'
list1[7] = 'GA'
list1[13] = 'AZ'
list1[15] = 'TN'
list1[17] = 'MD'
list1[18] = 'MO'
list1[21] = 'MN'
list1[22] = 'SC'
list1[24] = 'LA'
list1[25] = 'KY'
list1[28] = 'CT'
list1[29] = 'PR'
list1[31] = 'IA'
list1[32] = 'NV'
list1[34] = 'MS'
list1[35] = 'KS'
list1[36] = 'NM'
list1[39] = 'WV'
list1[40] = 'HI'
list1[41] = 'NH'
list1[42] = 'ME'
list1[43] = 'RI'
list1[44] = 'MT'
list1[46] = 'SD'
list1[47] = 'ND'
list1[48] = 'AK'
list1[49] = 'DC'
list1[50] = 'VT'

In [117]:
stdf['ST']= list1

In [118]:
stdf

    Rank_2021  Rank_2010  population2021  population2010  changes state  ST
0         1.0        1.0        39237836        37253956     5.30    CA  CA
1         2.0        2.0        29527941        25145561    17.40    TX  TX
2         3.0        4.0        21781128        18801310    15.85    FL  FL
3         4.0        3.0        19835913        19378102     2.36    NY  NY
4         5.0        6.0        12964056        12702379     2.06    PA  PA
5         6.0        5.0        12671469        12830632    -0.10    IL  IL
6         7.0        7.0        11780017        11536504     2.30    OH  OH
7         8.0        9.0        10799566         9687653    10.60    GA  GA
8         9.0       10.0        10551162         9535483     9.50    NC  NC
9        10.0        8.0        10050811         9883640     2.00    MI  MI
10       11.0       11.0         9267130         8791894     5.70    NJ  NJ
11       12.0       12.0         8642274         8001024     7.90    VA  VA
12       13.0       13.0         7738692         6724540    14.60    WA  WA
13       14.0       16.0         7276316         6392017    11.90    AZ  AZ
14       15.0       14.0         6984723         6547629     7.40    MA  MA
15       16.0       17.0         6975218         6346105     8.90    TN  TN
16       17.0       15.0         6805985         6483802     4.70    IN  IN
17       18.0       19.0         6165129         5773552     7.00    MD  MD
18       19.0       18.0         6168187         5988927     2.80    MO  MO
19       20.0       20.0         5895908         5686986     3.60    WI  WI
20       21.0       22.0         5812069         5029196    14.80    CO  CO
21       22.0       21.0         5707390         5303925     7.60    MN  MN
22       23.0       24.0         5190705         4625364    10.70    SC  SC
23       24.0       23.0         5039877         4779736     5.10    AL  AL
24       25.0       25.0         4657757         4533372     2.70    LA  LA
25       26.0       26.0         4505836         4339367     3.80    KY  KY
26       27.0       27.0         4237256         3831074    10.60    OR  OR
27       28.0       28.0         3959353         3751351     5.50    OK  OK
28       29.0       30.0         3605944         3574097     0.90    CT  CT
29       30.0       29.0         3285874         3725789   -11.80    PR  PR
30       31.0       35.0         3271616         2763885    18.40    UT  UT
31       32.0       31.0         3190369         3046355     4.70    IA  IA
32       33.0       36.0         3104614         2700551    15.00    NV  NV
33       34.0       33.0         3011524         2915918     3.30    AR  AR
34       35.0       32.0         2961279         2967297    -0.20    MS  MS
35       36.0       34.0         2937880         2853118     3.00    KS  KS
36       37.0       37.0         2117522         2059179     2.80    NM  NM
37       38.0       39.0         1961504         1826341     7.40    NE  NE
38       39.0       40.0         1839106         1567582    17.30    ID  ID
39       40.0       38.0         1793716         1852994    -3.20    WV  WV
40       41.0       41.0         1455271         1360301     7.00    HI  HI
41       42.0       43.0         1377529         1316470     4.60    NH  NH
42       43.0       42.0         1362359         1328361     2.60    ME  ME
43       44.0       44.0         1097379         1052567     4.30    RI  RI
44       45.0       45.0         1084225          989415     9.60    MT  MT
45       46.0       46.0          989948          897934    10.20    DE  DE
46       47.0       47.0          886667          814180     8.90    SD  SD
47       48.0       49.0          779094          672591    15.80    ND  ND
48       49.0       48.0          733391          710231     3.30    AK  AK
49       50.0       51.0          689545          601723    14.60    WA  DC
50       51.0       50.0          643077          625741     2.80    VT  VT
51       52.0       52.0          576851          563626     2.30    WY  WY

In [119]:
stdf=stdf.iloc[:52,:].drop(columns='state').rename({'ST':'state'},axis=1).copy()

In [120]:
stdf['changes'] = stdf['changes'].str.replace("%", '')

AttributeError: Can only use .str accessor with string values!

In [84]:
stdf['changes']=stdf['changes'].str.replace('–','-').str.replace('-\u200d','-').astype(float)

In [97]:
df[['heating_count','cooling_count','parking_count']]=df[['heating_count','cooling_count','parking_count']].fillna(0)

In [130]:
df.dropna()

,status,propertyType,street,baths,homeFacts,fireplace,city,sqft,zipcode,beds,...,heating_bool,parking_bool,cooling_bool,is_expensive,pop_1m+,pop_5kk+,pop_1kk+,heating_count,cooling_count,parking_count
2,for sale,single-family home,2005 Westridge Rd,2.0,"{""atAGlanceFacts"": [{""factValue"": ""1961"", ""fac...",1.0,Los Angeles,3000.0,90049,3.0,...,1,1,1,1.0,1.0,0.0,0.0,1.0,1.0,1.0
3,for sale,single-family home,4311 Livingston Ave,8.0,"{""atAGlanceFacts"": [{""factValue"": ""2006"", ""fac...",1.0,Dallas,6457.0,75205,5.0,...,1,1,1,0.0,1.0,0.0,0.0,1.0,1.0,1.0
12,for sale,single-family home,16373 NW 16th St,3.0,"{""atAGlanceFacts"": [{""factValue"": ""1996"", ""fac...",0.0,Pembroke Pines,2839.0,33028,4.0,...,1,1,1,0.0,0.0,0.0,1.0,1.0,1.0,2.0
18,for sale,single-family home,22702 Alderdale Ln,4.0,"{""atAGlanceFacts"": [{""factValue"": ""2016"", ""fac...",1.0,Tomball,3080.0,77375,4.0,...,1,1,1,0.0,0.0,0.0,0.0,1.0,1.0,1.0
23,for sale,single-family home,4234 Orchard Pass Dr,4.0,"{""atAGlanceFacts"": [{""factValue"": ""2019"", ""fac...",1.0,Spring,3645.0,77386,4.0,...,1,1,1,0.0,0.0,0.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377167,for sale,single-family home,12321 Bella Rosa Ct,3.0,"{""atAGlanceFacts"": [{""factValue"": ""2013"", ""fac...",1.0,Fort Worth,3457.0,76126,4.0,...,1,1,1,0.0,0.0,1.0,0.0,1.0,1.0,1.0
377170,For sale,Single Family,6121 Darby Ave,3.0,"{""atAGlanceFacts"": [{""factValue"": ""1977"", ""fac...",1.0,Las Vegas,2672.0,89146,3.0,...,1,1,1,0.0,0.0,1.0,0.0,1.0,1.0,1.0
377171,for sale,single-family home,28025 Eagle Ray Ct,3.0,"{""atAGlanceFacts"": [{""factValue"": ""2005"", ""fac...",0.0,Bonita Springs,2022.0,34135,3.0,...,1,1,1,0.0,0.0,0.0,0.0,1.0,1.0,1.0
377173,for sale,single-family home,19743 N Sagamore Rd,3.0,"{""atAGlanceFacts"": [{""factValue"": ""1950"", ""fac...",1.0,Fairview Park,2505.0,44126,5.0,...,1,1,1,0.0,0.0,0.0,0.0,1.0,1.0,1.0
377175,for sale,single-family home,9711 Lawngate Dr,3.0,"{""atAGlanceFacts"": [{""factValue"": ""1970"", ""fac...",1.0,Houston,1792.0,77080,4.0,...,1,1,1,0.0,1.0,0.0,0.0,1.0,1.0,1.0

In [131]:
df = pd.merge(df,stdf,on="state",how='left').dropna()

In [133]:
df.head()

,status,propertyType,street,baths,homeFacts,fireplace,city,sqft,zipcode,beds,...,pop_5kk+,pop_1kk+,heating_count,cooling_count,parking_count,Rank_2021,Rank_2010,population2021,population2010,changes
1,for sale,single-family home,2005 Westridge Rd,2.0,"{""atAGlanceFacts"": [{""factValue"": ""1961"", ""fac...",1.0,Los Angeles,3000.0,90049,3.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,39237836,37253956,5.30
2,for sale,single-family home,4311 Livingston Ave,8.0,"{""atAGlanceFacts"": [{""factValue"": ""2006"", ""fac...",1.0,Dallas,6457.0,75205,5.0,...,0.0,0.0,1.0,1.0,1.0,2.0,2.0,29527941,25145561,17.40
3,for sale,single-family home,16373 NW 16th St,3.0,"{""atAGlanceFacts"": [{""factValue"": ""1996"", ""fac...",0.0,Pembroke Pines,2839.0,33028,4.0,...,0.0,1.0,1.0,1.0,2.0,3.0,4.0,21781128,18801310,15.85
4,for sale,single-family home,22702 Alderdale Ln,4.0,"{""atAGlanceFacts"": [{""factValue"": ""2016"", ""fac...",1.0,Tomball,3080.0,77375,4.0,...,0.0,0.0,1.0,1.0,1.0,2.0,2.0,29527941,25145561,17.40
6,for sale,single-family home,4234 Orchard Pass Dr,4.0,"{""atAGlanceFacts"": [{""factValue"": ""2019"", ""fac...",1.0,Spring,3645.0,77386,4.0,...,0.0,0.0,1.0,1.0,1.0,2.0,2.0,29527941,25145561,17.40

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73233 entries, 1 to 109596
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   status           73233 non-null  object
 1   propertyType     73233 non-null  object
 2   street           73233 non-null  object
 3   baths            73233 non-null  float64
 4   homeFacts        73233 non-null  object
 5   fireplace        73233 non-null  float64
 6   city             73233 non-null  object
 7   sqft             73233 non-null  float64
 8   zipcode          73233 non-null  int64
 9   beds             73233 non-null  float64
 10  state            73233 non-null  object
 11  stories          73233 non-null  float64
 12  target           73233 non-null  float64
 13  pool             73233 non-null  float64
 14  raiting_school   73233 non-null  float64
 15  distance_school  73233 non-null  float64
 16  year_built       73233 non-null  float64
 17  remodeled_year   73233 non-null  float64
 18  lotsize          73233 non-null  float64
 19  heating          73233 non-null  object
 20  cooling          73233 non-null  object
 21  parking          73233 non-null  object
 22  heating_bool     73233 non-null  int64
 23  parking_bool     73233 non-null  int64
 24  cooling_bool     73233 non-null  int64
 25  is_expensive     73233 non-null  float64
 26  pop_1m+          73233 non-null  float64
 27  pop_5kk+         73233 non-null  float64
 28  pop_1kk+         73233 non-null  float64
 29  heating_count    73233 non-null  float64
 30  cooling_count    73233 non-null  float64
 31  parking_count    73233 non-null  float64
 32  Rank_2021        73233 non-null  float64
 33  Rank_2010        73233 non-null  float64
 34  population2021   73233 non-null  int64
 35  population2010   73233 non-null  int64
 36  changes          73233 non-null  float64
dtypes: float64(22), int64(6), object(9)
memory usage: 21.2+ MB

In [135]:
df.to_csv("v5_dat.csv")

In [137]:
df.drop(columns=["status",'propertyType','street','homeFacts','city','zipcode','state','heating','cooling','parking'],inplace=True)

In [139]:
df.head(2).T

                            1             2
baths            2.000000e+00  8.000000e+00
fireplace        1.000000e+00  1.000000e+00
sqft             3.000000e+03  6.457000e+03
beds             3.000000e+00  5.000000e+00
stories          1.000000e+00  3.000000e+00
target           2.895000e+06  2.395000e+06
pool             1.000000e+00  0.000000e+00
raiting_school   6.666667e+00  9.250000e+00
distance_school  1.960000e+00  7.525000e-01
year_built       1.961000e+03  2.006000e+03
remodeled_year   1.967000e+03  2.006000e+03
lotsize          8.626000e+03  8.220000e+03
heating_bool     1.000000e+00  1.000000e+00
parking_bool     1.000000e+00  1.000000e+00
cooling_bool     1.000000e+00  1.000000e+00
is_expensive     1.000000e+00  0.000000e+00
pop_1m+          1.000000e+00  1.000000e+00
pop_5kk+         0.000000e+00  0.000000e+00
pop_1kk+         0.000000e+00  0.000000e+00
heating_count    1.000000e+00  1.000000e+00
cooling_count    1.000000e+00  1.000000e+00
parking_count    1.000000e+00  1.000000e+00
Rank_2021        1.000000e+00  2.000000e+00
Rank_2010        1.000000e+00  2.000000e+00
population2021   3.923784e+07  2.952794e+07
population2010   3.725396e+07  2.514556e+07
changes          5.300000e+00  1.740000e+01

In [ ]:
categorical_features = ['fireplace','stories','pool','heating_bool','parking_bool','cooling_bool',
                        'is_expensive','pop_1m+','pop_5kk+','pop_1kk+','Rank_2021','Rank_2010']